.medicines-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-bottom: 5rem;
  gap: 1rem;
}

@media screen and (max-width: 759px) and (min-width: 600px) {
  .medicines-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 760px) {
  .medicines-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .medicines-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.productItem-container {
  width: 180px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  overflow: hidden;
  margin: 1.3rem 0;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

// too small screens
@media screen and (max-width: 400px) {
  .productItem-container {
    width: 154px;
  }
}

.productItem-image {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.productItem-details-container {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;

  .productItem-name {
    font-size: 14px;
    margin-bottom: 9px;
  }

  .modal-opener {
    font-size: 23px;
    color: blue;
  }
}
