.my-navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  padding: 0.7rem 0 0.8rem;
  z-index: 19;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.my-nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
  span {
    margin-top: 5px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .my-navbar {
    width: 50vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    right: 50%;
    transform: translateX(50%);
  }
}
